<div class="jumbotron">
    <h1>YAVML</h1>
    <p class="lead">Yet Another Vehicle Maintenance Log</p>
    <hr>
    <p>A Vehicle Maintenance Log application that helps you:</p>
    <ul>
        <li>Create a garage of all your vehicles and their information</li>
        <li>Store all your documents like window sticker and bill of sale</li>
        <li>Keep service records</li>
        <li>Track fuel usage over time</li>
        <li>Transfer vehicle record to new owner when you sell</li>
    </ul>
    <p class="lead">
        <button class="btn btn-lg btn-primary" (click)="auth.login()">Login</button>
    </p>
</div>
